<p id="notice"></p>

<h1>
  <%=@user.username%>
  <% if @user.banned  %>
    <span class="badge badge-info">account closed</span>
  <% end %>
</h1>
<% if !@user.banned %>
  <%= link_to "close account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% else %>
  <%= link_to "open account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-success" %>
<% end %>

<br>

<% if @user.ratings.empty? %>
 beer has not yet been rated!
<% else %>
 <%= "Has " + pluralize(@user.rating_average, 'rating', 'ratings') + ", average " +  @user.rating_average.to_s %>
<% end %>

<p>
  <% if @user.beer_clubs.any? %>
    member of 
    <% @user.beer_clubs.each do |club| %>
      <li> <%= link_to club.name, club %> </li>
    <% end %>
  <% end %>
</p>

<% if !@user.favorite_style.nil? %>
  <p><%= @user.username %> favorite beer style: <%= @user.favorite_style.name %></p>
  <br>
  <p><%= @user.username %> favorite brewery: <%= @user.favorite_brewery %></p>
<% end%>
<h2>Ratings</h2>
<% @user.ratings.each do |rating| %>
<ul>
  
  <li>
    <%= rating %>
    <% if @user == current_user %>
      <%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
</ul>
<% end %>

<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>
<%= link_to 'Delete me', @user, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', users_path, class:"btn btn-primary" %>
